.main {
  margin: 0;
  padding: 0;
  background: #000;
}

.main__container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 3rem;
}

.main__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  list-style: none;
  flex-wrap: wrap;
}