.header {
  background: #000;
}

.header__container {
  margin: 0 auto;
  max-width: 1440px;
  padding: 1.625rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__logo {
  height: 60px;
}
